/* dashboard.css */

body {
	font-family: "Arial", sans-serif;
	background-color: #f5f7fa;
	margin: 0;
	padding: 0;
}

.dashboard {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: white;
	color: #333;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background: white;
	color: black;
}

nav .account-icon {
	height: 40px;
	cursor: pointer;
}

.main-content {
	display: flex;
	flex: 1;
}

.sidebar {
	width: 250px;
	background: #191e4a;
	color: #f2f2f2;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar ul li {
	padding: 15px;
	margin: 10px 0;
	background: #191e4a;
	color: gray;
	cursor: pointer;
	transition: background 0.3s;
	border-radius: 5px;
}

.sidebar ul li:hover {
	color: whitesmoke;
}

.content {
	flex: 1;
	padding: 20px;
	background: #f2f2f2;
}
