.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height to vertically center */
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  