body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
}

.survey-container {
	width: 60%;
	margin: auto;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 10px;
}

.question-block {
	margin-bottom: 20px;
	color: black;
	font-weight: bold;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	width: 100%;
	padding: 10px;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
}

button:hover {
	background-color: gray;
}

button#actionBtn:disabled {
	background-color: #cccccc;
	cursor: not-allowed;
}
